@(user : User, questions: List[viewModel.QuestionSetVM])
@main("Aptitude Test") {

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
  	<span class="brand span3">Time Remaining: </span>
    <span class="brand span3">
    	<span id="hours">00h</span>
		<span id="minutes">00m</span>
		<span id="seconds">00s</span>
    </span>
    
    <ul class="nav pull-right">
      <li><button type="button" class="logout btn btn-small btn-warning">Log Out</button></li>
    </ul>
  </div>
</div>

@helper.form(routes.Question.evaluate) {
<div class="container" ondragstart="return false" onselectstart="return false" oncontextmenu="return false" style="padding:40px;">
<div class="well">
	@for(question <- questions){
	<div class="well">
		<div class="row-fluid">
			<div class="span2">
				<b>Question @question.counter :</b>
			</div>
			<div class="span10">
				@question.question
			</div>
		</div>
		
		@if(question.questionType == true){
			<div class="row-fluid">
					<div class="span2"></div>
					<div class="span5">
					<input type="hidden" class="flag" value="false">
					<input type="hidden" class="id" value="@question.id">
					<input type="radio" class="submit" value="@question.option1" name="answer@question.counter">@question.option1
				</div>
					<div class="span5">
					<input type="hidden" class="flag" value="false">
					<input type="hidden" class="id" value="@question.id">
					<input type="radio" class="submit" value="@question.option2" name="answer@question.counter">@question.option2
				</div>
			</div>
			<div class="row-fluid">
					<div class="span2"></div>
					<div class="span5">
					<input type="hidden" class="flag" value="false">
					<input type="hidden" class="id" value="@question.id">
					<input type="radio" class="submit" value="@question.option3" name="answer@question.counter">@question.option3
				</div>
					<div class="span5">
					<input type="hidden" class="flag" value="false">
					<input type="hidden" class="id" value="@question.id">
					<input type="radio" class="submit" value="@question.option4" name="answer@question.counter">@question.option4
				</div>
			</div>
			}
	</div>
	
	}
</div>	
</div>	
}
<script>
$(document).ready(function() {
	var currenttime = 0;
	
	setInterval(function(){
	    var difference = Math.floor(60*60 - currenttime*1);
	    
	    if(difference == 0) {
	    	window.location.href = '/logout';
	    }
	    var seconds = fixIntegers(difference % 60);
	    difference = Math.floor(difference / 60);
	    
	    var minutes = fixIntegers(difference % 60);
	    difference = Math.floor(difference / 60);
	    
	    var hours = fixIntegers(difference % 24);
	    difference = Math.floor(difference / 24);
	    
	    $("#seconds").text(seconds + "s");
	    $("#minutes").text(minutes + "m");
	    $("#hours").text(hours + "h");
	    currenttime++;
	}, 1000);

	function fixIntegers(integer)
	{
	    if (integer < 0)
	        integer = 0;
	    if (integer < 10)
	        return "0" + integer;
	    return "" + integer;
	}
	
	$(".submit").click(function(){
		var _this = $(this).parent();
		var flag = _this.find('.flag').val();
		if(flag == "false") {
			var id = _this.find('.id').val();
			var answer = _this.find('.submit').val();
			_this.find('.flag').val("true");
		} else {
			var id = _this.find('.id').val();
			var answer = null;
			_this.find('.flag').val("false");
			$(this).prop('checked', false);
		}
		
		$.ajax({
			type: "POST",
			url: "/apti/evaluation",
			data: { id : id,
					answer : answer
				},
			success: function(data){
				console.log(data)
			}
		});
		
	});
	
	$(".logout").click(function(){
		window.location.href = '/logout';
	});
	
	function killCopy(e){
	    return false
	}
	 
	function reEnable(){
	    return true
	}
	 
	document.onselectstart=new Function ("return false")
	if (window.sidebar){
	    document.onmousedown=killCopy
	    document.onclick=reEnable
	}
    
});
</script>

}