@(reports: List[Report])

@main("Aptitude Test") {
<button type="button" class="logout btn btn-small btn-warning" style="float: right;margin-top: 1%;margin-bottom: 1%;">Log Out</button>	
	<div style="background-color: white; ">
		@for(r <- reports){
		@if(r.question.questionType == "sub") {
		  <b>Question: @r.question.id</b></br>
		  <div>@Html(r.question.question)</div> 
		  <b>Answer:</b></br>
		  <div class="code-editor" id="@r.question.id">@r.answer</div>
		  </br>
		  </br>
		  <hr></hr>
		  }
		    
		}  
	</div>


}
<script>
$(document).ready(function() {
	
        $(".code-editor").toArray().forEach(element => {
		var editor = ace
		.edit($(element).attr("id"),{ maxLines: 30,autoScrollEditorIntoView: true, mode:"ace/mode/c_cpp",wrap: true});
		
		editor.commands.
		addCommand({
			 name: 'Save',
    			 bindKey: {win: 'Ctrl-s',  mac: 'Command-s'},
			 exec: function(editor) {
			 
			  save(editor.container.id,editor.getValue());
			}
		});
	}); 
});	
</script>	