
@main("Aptitude Test") {
<section id="backgroundImage">
<div class="container">
	<div class="heading">
	<img src="@routes.Assets.at("images/logo.png")"></img>
	@helper.form(routes.Application.createAccount, 'id -> "createForm") {
			<br>
			<br>
			<br>
			@if(flash.contains("success")) {
            <p class="success" style="color:green;">
               @flash.get("success")
            </p>
            }
            <div class="span7">
					<div class="well">
					<div class="control-group">
						<div class="controls">
							<label class="span1">Email ID</label>						
		                	<input type="text" class="span3" id="email" name="email" placeholder="Email Id">
		            	</div>
		            </div>
		            <div class="control-group">
						<div class="controls">
							<label class="span1">Name</label>
		                	<input type="text" id="name" name="name" placeholder="Name">
						</div>
					</div>
					<div class="control-group">
						<div class="controls">
							<label class="span1">Code</label>
		                	<input type="text" id="code" name="code" placeholder="Code">
						</div>
					</div>			           
		            <p>   
		               <button type="submit" class="btn btn-info">Start Test</button>
		              </p> 
	          </div>
	         </div> 
			}
	</div>
</div> 
</section>
<script>
$(document).ready(function() {
	$("#createForm").validate({
		rules : {
			email : {
				required : true,
				remote : {
					url:"/checkUserEmail",
					type : "post",
					data : {
						q : function(){
							return $("#email").val(); 
					 }
				}
			  }
			},
			name : {
				required : true
			},
			code : {
				required : true,
				remote : {
					url:"/checkUserCode",
					type : "post",
					data : {
						q : function(){
							return $("#code").val(); 
					 }
				}
			  }
			}
		},
	
		messages : {
			email : {
				remote : "Email id is used"					
			},
			name : {
				required : "Enter your Name"			
			},
			Code : {
				remote : "Code is used"					
			}
		},
	
		errorClass : "help-inline",
		errorElement : "span",
		highlight: function (element) {
		    $(element).closest('.control-group').removeClass('success').addClass('error');
		},
		success: function(element) {
		     element
		        .addClass('valid')
		        .closest('.control-group').removeClass('error').addClass('success');
		}
	});
});

</script>    
<style>
 #backgroundImage{
       background: url("/assets/images/light.jpg") !important;
       height: 1000px;
}
body{
	margin: 0% !important;
}
</style>
    
}
