@main("Aptitude Test") {
<div class="container">
	<div class="heading">
	<img src="@routes.Assets.at("images/logo.png")"></img>
	@helper.form(routes.Application.login) {
			<br>
			<br>
			<br>
			@if(flash.contains("error")) {
            <p class="error" style="color:red;">
               @flash.get("error")
            </p>
            }
            @if(flash.contains("success")) {
            <p class="success" style="color:green;">
               @flash.get("success")
            </p>
            }
					<div class="well" style="width:26%;">
					<div class="control-group">
						<div class="controls">
		                	<input type="text" id="email" name="email" placeholder="Email">
		            	</div>
		            </div>
		            <p>   
		               <button type="submit" class="btn btn-success">Login</button>
		              </p> 
	          </div>
			}
	</div>
</div>
<footer class="footer" style="float: right;">
<b>Developed By: Mindnerves Technology</b>
</footer>
 
<style>
.footer
{
position: relative;
margin-top: 100px; /* negative value of footer height */
height: 30px;
clear:both;
color:white;
}
</style>
    
}
